 {{#each errorMessages}}
   <section class="notifications">
           <p class="notification-message">{{this}}</p>
        </section>
{{/each}}
            <form action="/login" method="POST">
            <h1>Login</h1>

            <p>Personal info</p>
            <label for="usernmae">Username</label>
            <input id="username" type="text" placeholder="zhani" name="username">

            <label for="usernmae">Password</label>
            <input id="password" type="password" placeholder="********" name="password">

            <button type="submit">Login</button>
        </form>